@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {

    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
   text-align: center;
   
}
.navbar-item {
    margin-left: 40px;
    margin-right: 40px;

}
  
a.navbar-link {
    text-decoration: none;
    color: #fff;
}
.navbar-link {
    text-decoration: none;
    
}
.navbar-contacts {
    text-align: right;
}
.navbar-text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 58px;
    display: flex;

}
.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover {
    opacity: 1;
}
path.current-floor {
    opacity: 1;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: #fff;
    border: none;
    
}
.counter-arrow-down {
    transform: rotateX(180deg);
    cursor: pointer;
}
.counter-arrow-up {
   
    cursor: pointer;
}
.main-title {
    font-family: "Bebas Neue Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
    margin: 0;
}
.counter {
    font-family: Bebas Neue;
    color: #635854;
    font-size: 115px;
    font-weight: normal;
    font-style: normal;
    margin-top: 10px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.modal {
    position: fixed; /*фиксированная позиция, поверх всего сайта */
    left: 0; /* приклеиваем к левому краю */
    top: 0; /*приклеиваем к верху */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; /* родительский элемент - гибкий */
    justify-content: center;
    align-items: center;

}
.modal-dialog {
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    
}
.modal-image {
    background-color: #ebebeb;
    max-width: 60%;
    text-align: center;
    padding: 50px;
}
.modal-title {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info {
    width: 40%;
    padding: 50px 46px;
    margin: 0;
}